# PostgreSQL
POSTGRES_IMAGE_TAG=16-alpine
POSTGRES_CONTAINER_NAME=korp_postgres
POSTGRES_USER=korp
POSTGRES_PASSWORD=korp
POSTGRES_DB=korp
POSTGRES_HOST_PORT=5433

# Internal DB network config used by services
DB_HOST=postgres
DB_PORT=5432
DB_SSLMODE=disable

# Estoque service
ESTOQUE_CONTAINER_NAME=korp_estoque
ESTOQUE_PORT=8080
ESTOQUE_HOST_PORT=8080

# Faturamento service
FATURAMENTO_CONTAINER_NAME=korp_faturamento
FATURAMENTO_PORT=8081
FATURAMENTO_HOST_PORT=8081

# Frontend (optional profile)
FRONTEND_NODE_IMAGE_TAG=22-alpine
FRONTEND_CONTAINER_NAME=korp_frontend
FRONTEND_PORT=4200
FRONTEND_HOST_PORT=4200
FRONTEND_CHOKIDAR_USEPOLLING=true
